.mainContainer, .footer {
    background-color: rgb(206, 247, 247);
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
}

.flag {
    margin: 10px;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;  
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

.delete {
    background-color: #f34343;
}

button {
    background-color: #4372f3;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 10px;
    border: none;
    text-transform: uppercase;
}

.btn {
    display: flex;
   justify-content: space-evenly;
}

@media all and (max-width: 400px) {
    .flag {
        width: 100px;
    }
    h1 {
        text-align: center;
    }
    img{
        width: 300px;
    }
}